.date {
    padding-left: 52px;
    margin-bottom: -10px;
    text-transform: uppercase;
    color: rgb(102, 102, 102);
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .main-heading {
    text-align: center;
    font-size: 9em;
    margin: 0%;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(231, 75, 14);
  }
  
  .grid-container {
    column-count: 2;
    text-align: justify;
  }
  
  .cover {
    border: 5px solid rgb(255, 153, 0);
    padding: 2%;
  }
  
  .cover p {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .cover li {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .cover h2 {
    text-transform: lowercase;
    font-size: 40px;
    font-weight: lighter;
    margin: 5px;
  }
  
  #container {
    padding: 1%;
    border: 1.5px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    width: 966px;
    margin: 0 auto;
  }
  
  .image {
    top: 0px;
    width: 100%;
    height: 100%;
  }
  
  .column {
    flex: 50%;
    padding: 2%;
    background-color: lightgray;
  }
  
  .row {
    display: flex;
  }
  
  .footer {
    float: right;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 15%;
  }
  
  .grid-item {
    position: relative;
  }
  
  .number-image {
    font-size: 5em;
  }
  
  .list-1 {
    line-height: 1.5;
  }
  
  .list-1>h2,
  h3 {
    line-height: 0%;
  }
  
  .list-1 h2 {
    text-transform: lowercase;
    font-size: 40px;
    font-weight: lighter;
  }
  
  .list-1 h3 {
    color: rgb(24, 141, 0);
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
  
  .list-1 p {
    font-family: Roboto, sans-serif;
    font-size: 14px;
  }
  
  .list-2 {
    line-height: 1.5;
  }
  
  .list-2>h2,
  h3 {
    line-height: 1%;
  }
  
  .list-2 h2 {
    text-transform: lowercase;
    font-size: 40px;
    font-weight: lighter;
  }
  
  .list-2 h3 {
    color: rgb(190, 0, 111);
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
  
  .list-2 p {
    font-family: Roboto, sans-serif;
    font-size: 14px;
  }
  
  .list-3 {
    line-height: 1.5;
  }
  
  .list-3>h2,
  h3 {
    line-height: 0%;
  }
  
  .list-3 h2 {
    text-transform: lowercase;
    font-size: 40px;
    font-weight: lighter;
  }
  
  .list-3 h3 {
    color: rgb(0, 116, 194);
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
  
  .list-3 p {
    font-family: Roboto, sans-serif;
    font-size: 14px;
  }
  
  hr.solid1 {
    border-top: 10px solid rgb(24, 141, 0);
  }
  
  hr.solid2 {
    border-top: 10px solid rgb(190, 0, 111);
    margin: -9px;
  }
  
  hr.solid3 {
    border-top: 10px solid rgb(0, 116, 194);
    margin: -9px;
  }